@import './buttons.css';

@media screen and (max-width: 600px) {
  html {
    font-size: 12px;
  }
}

html, body, #sapper {
  width: 100%;
  height: 100%;
  background-color: var(--light-5);
  overflow: auto;
  /* disable chrome pull to reload */
  overscroll-behavior-y: contain;
}

#sapper {
  display: flex;
  flex-direction: column;
  max-height: 100%;
}

body {
  font-family: 'DM Sans', sans-serif;
  margin: 0;
  color: var(--dark-2);
}

:root {
  /* color palette */
  --dark-1: #000000;
  --dark-2: #3F4367;
  --dark-3: #505686;
  --dark-4: #686FAB;
  --dark-5: #848CD3;
  --light-1: #939DFF;
  --light-2: #A8B1FF;
  --light-3: #BEC5FF;
  --light-4: #DEE4FA;
  --light-5: #F8FBFF;
  --warn: #FF0000;
}

h1, h2 {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 300;
  margin: 0;
}

h1 {
  color: var(--dark-2);
  font-size: 4rem;
  text-transform: uppercase;
  margin-block-start: 4rem;
}
@media screen and (max-width: 600px) {
  h1 {
    font-size: 3rem;
  }
}

h2 {
  color: var(--dark-3);
  font-size: 2.1rem;
  margin-block-start: 2.1rem;
}
@media screen and (max-width: 600px) {
  h2 {
    font-size: 1.8rem;
  }
}

a {
	color: inherit;
  text-decoration: none;
}

p {
  max-width: 350px;
}

