:root {
    --background: #f3f2ff;
    --primary: #0093e2;
    --primary-contrast: #ffffff;
    --font-color: #065884;
    --succes-color: #019f1a;
    --error-color: #ef033c;
    font-size: 14px;
}

html,
body {
    background-color: var(--background);
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
}

body {
    font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
