body {
  margin: 0;
  font-family: Lato, sans-serif;
  font-size: 14px;
  color: #e5e5e5;
}

@media screen and (max-width: 600px) {
  body {
    font-size: 12px;
  }
}

html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%;
}

.apexcharts-tooltip {
  color: black;
}

a {
  color: inherit;
}

  h1 {
    font-size: 4.5rem;
    margin: 0;
    color: #e6e6e6;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: 300;
    color: #f1c46d;
    margin: 0.2em 0 0 0;
  }
  @media screen and (max-width: 600px) {
    h1 {
      font-size: 3rem;
    }
    h2 {
      font-size: 1.3rem;
    }
  }
